.movies-list {
  padding: 21px 32px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
